[submodule "why_youre_destroying_devops"]
	path = why_youre_destroying_devops
	url = https://github.com/mfdii/why_youre_destroying_devops.git
[submodule "chef_reveal.js"]
	path = chef_reveal.js
	url = https://github.com/mfdii/chef_reveal.js.git
[submodule "changing_infra"]
	path = changing_infra
	url = https://github.com/mfdii/changing_infra.git
